.hero .content {
    width: 100vw;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero .content h1 {
    display: block;
    width: 2600px;
    max-width: 100%;
    font-size: 45px;
    font-weight: 300;
    padding: 6px 8px;
    line-height: 1.4;
}

.hero .content p {
    font-size: 20px;
    color: #808080;
}

.btn {
    display: flex;
    float: left;
    /* margin: 30px; */
    padding: 12px 30px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: inherit;
    background: #616161;
    color: white;
    border-radius: 8px;
    gap: 0.5rem;
    margin-right: 20px;
    transition: all 0.3s ease-in;
}

.btn-light {
    display: flex;
    float: left;
    /* margin: 30px; */
    padding: 12px 30px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: inherit;
    color: #616161;
    border: 1px solid #616161;
    border-radius: 8px;
    gap: 0.5rem;
    /* margin-right: 20px; */
    transition: all 0.3s ease-in;
}

.button-container {
    margin-top: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content .hero .btn .btn-light {
    flex-direction: column;
    font-size: 8px;
    flex-wrap: wrap;
    margin: 10px 0px;
}

@media screen and (max-width: 660px) {
    .hero {
        width: 100vw;
        padding: 10px 10px;
    }

    .button-container {
        flex-direction: column;
        width: 100%;
    }

    .button-container .btn, .button-container .btn-light {
        width: 80%;
        margin-bottom: 20px;
        padding: 10px 20px;
    }

    .button-container .btn-light {
        margin-left: 0px;
    }

    .button-container .btn {
        margin-right: 0px;
    }
}