.hero .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 170px;
    text-align: center;
}

.hero .content h1 {
    display: block;
    width: 420px;
    max-width: 100%;
    font-size: 16px;
    margin: 20px;
    font-size: 30px;
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
}

.hero .content p {
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    float: left;
    clear: both;
    padding: 12px 30px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: inherit;
    background: #616161;
    color: #fff;
    border: 1px solid #616161;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    /* text-decoration: none; */
    min-width: 20%;
    gap: 0.5rem;
    margin-right: 20px;
}

.btn-light {
    display: flex;
    float: left;
    margin-right: 20px;
    padding: 12px 28px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-transform: inherit;
    background: #fff;
    margin-left: 10px;
    color: #616161;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #616161;
    text-decoration: none;
    min-width: 20%;
    gap: 0.5rem;
    margin-left: 20px;
} 

.content .button-container {
    margin-top: 30px;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
    align-items: center;
}

.content .hero .btn .btn-light {
    flex-direction: column;
    font-size: 8px;
    flex-wrap: wrap;
    margin: 10px 0px;
}

@media screen and (max-width: 660px) {
    .hero {
        width: 100vw;
        padding: 10px 10px;
    }

    .cotent .button-container {
        flex-direction: column;
        /* width: 100%; */
    }

    .button-container .btn, .button-container .btn-light {
        width: 80%;
        margin-bottom: 20px;
        padding: 10px 20px;
    }

    .button-container .btn-light {
        margin-left: 0px;
    }
}