.size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    margin: 60px;
    padding: 20px;
    width: 100%;
}

.container{
   display: grid;
   align-items: center;
   /* border-collapse: collapse; */
   justify-content: space-between;
}

.heading{
    font-size: 15px;
}

table, th, .column .item{
    position: relative;
    height: 5vh;
    width: 10vw;
    margin: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #343434;
    padding: .3em 1.5em;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: #808080 ;
    background-color: #fff; 
    z-index: 0;
}

/* .item {
    position: absolute;
    top: 0;
    z-index: 0;
    background: #0f0f0f;
    width: 100px;
    
} */

.item:hover {
    background-color: #343434;
}