.search-bar {
    width: 100%;
    margin: 40px auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar .search-box {
    position: fixed;
    /* top: 525px; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid #616161;
    border-bottom: 2px solid #616161;
    padding: 10px 18px;
    line-height: 1.5;
}

.search-box input {
    background: transparent;
    flex: 2;
    border: 0;
    outline: none;
    margin: 10px;
    width: 80vw;
    font-size: 16px;
}

@media screen and (max-width: 660px) {
    .search-bar {
        width: 95vw;
    }
}