/* #section {
    font-size: 20px;
    font-weight: 500;
    margin: 40px;
    padding: 20px;
} */

/* .reset {
    background: #d8d8d8;
    color: black;
    border: 1px solid transparent;
    text-align: center;
    display: flex;
    padding: 20px;
    margin: 40px;
    margin-left: 70px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.reset:hover {
    border: 1px solid black;
} */