#section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    margin: 20px;
    width: 40vw;
    padding: 10px;
    border-left: 1px solid grey;
    height: 100%;
}

.customize-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 2px auto;
}


.customize-section-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1 {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
    border: 1px solid #899499;
    color: black;
    background: #dcdcdc;
    padding: 2px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.3 ease-in;
}

#btn1:hover {
    color: #296e5e;
}
